<div class="margin-auto width90">
    
    <div class="w3-center" style="padding-top:150px;" [hidden]="level1">  
        <input (click)="PlayGame('player_1.1');" id="player_1.1" type="image" src="/assets/basketball _player2.PNG" alt="Basketball" style="width:250px;height:350px;padding-right: 10px">                     
        <input (click)="PlayGame('fireman_1.1')" id="fireman_1.1" type="image" src="/assets/sammy_fireman.PNG" alt="Fireman" style="width:250px;height:350px;padding-right:10px">                       
        <input (click)="PlayGame('superman_1.1')" id="superman_1.1" type="image" src="/assets/superman.PNG" alt="Superman" style="width:250px;height:350px;padding-right:10px">                       
        <input (click)="PlayGame('farmer_1.1')" id="farmer_1.1" type="image" src="/assets/fermer.PNG" alt="Farm" style="width:250px;height:350px;padding-right:10px">     
        <input (click)="PlayTraning()" type="image" src="/assets/videos/else/Ladybug.png" style="width:250px;height:350px;padding-right:10px">                                         
        <!--<input (click)="PlayGame('superwoman_1.1')" id="superwoman_1.1" type="image" src="/assets/superwoman.png" alt="superwoman" style="width:250px;height:350px;padding-right:30px">-->
    </div>

    <div class="w3-center" style="padding-top:150px;" [hidden]="level2">  
    <h1>level 2 - TBD</h1>
    </div>

    <div class="w3-center" style="padding-top:150px;" [hidden]="level3">  
        <h1>level 2 - TBD</h1>
    </div>

</div>
