<div class="links" *ngIf="displayLinks">
    <br><br><br><br>
        <a (click)="StartTrain()" style="font-size:60px;text-decoration:none;">תרגול</a>
        <br />
        <a (click)="StartGame()" style="font-size:60px;text-decoration:none;">משחקים</a>
</div>

<div class="levels" *ngIf=displayLevels>

        <a style="font-size:60px;text-decoration:none;">שלב 1</a><br>
        <a style="font-size:60px;text-decoration:none;">שלב 2</a><br>
        <a style="font-size:60px;text-decoration:none;">שלב 3</a><br>

</div>