<div class="margin-auto width80">
  <h2 class="page-header">Sessions List for {{ kid.name }}</h2>
  <div class="margin-auto width40">
      Max Age:<input type="number" [(ngModel)]="ageFilter" name="ageFilter" class="form-control">
      Gender:<select name="genderFilter" [(ngModel)]="genderFilter" class="form-control">
          <option value="" selected>All</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      Kid's name:<input type="text" [(ngModel)]="nameFilter" name="nameFilter" class="form-control">
      <a class="btn btn-primary btn-sm" (click)="onFilter()">Filter</a>
  </div>
  <br><br>
  <div class="kids-list center border width95">
      <div class="bold-text">
          <div class="col-md-2">
              Character    
          </div> 
          <div class="col-md-2">
              Level  
          </div> 
          <div class="col-md-2">
              Total Time  
          </div> 
          <div class="col-md-2">
              Video Duration   
          </div> 
          <div class="col-md-2">
            Areas
          </div>
          <div class="col-md-2">   
          </div>
      </div>
      <hr>
      <div *ngFor="let session of sessions">
          <div class="col-md-2">
            {{ session.character }}
          </div> 
          <div class="col-md-2">
            {{ session.level }}
          </div> 
          <div class="col-md-2">
            {{ session.total_time }}
          </div> 
          <div class="col-md-2">
            {{ session.video_duration }}
          </div> 
          <div class="col-md-2">
            eyes: {{ session.areas.areaeyes }}, face: {{ session.areas.areaface }}<br>
            {{ session.areas.area1 }}, {{ session.areas.area2 }}, {{ session.areas.area3 }}, {{ session.areas.area4 }}, {{ session.areas.area5 }}, {{ session.areas.area6 }}<br>
          </div> 
          <div class="col-md-2"> 
              <button type="submit" (click)="deleteSession(session._id)" class="btn btn-danger">
                      <i class="glyphicon glyphicon-trash"></i>
              </button>
          </div>
          <br><br><br>
      </div>
  </div>
</div>