<html>
<div class="Row">
    <div class="Column">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <font align="left" size="5" >CME</font>

    </div>
    <div class="Column" align="right">
        <input type="image" (click)="StopBtnClicked()"  border="0" src="/assets/stop.png" style="text-decoration:none;width:40px; height:40px">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="image" (click)="PlayBtnClicked()"  border="0" src="/assets/play.png" style="text-decoration:none;width:40px; height:40px">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="image" (click)="ReplayBtnClicked()"  border="0" src="/assets/replay.png" style="text-decoration:none;width:40px; height:40px">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="image" (click)="ChangeCharacterBtnClicked()"  border="0" src="/assets/character.png" style="text-decoration:none;width:40px; height:40px">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="image" (click)="PrevBtnClicked()" border="0" src="/assets/prev.png" style="text-decoration:none;width:40px; height:40px">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="image" (click)="NextBtnClicked()" border="0" src="/assets/next.png" style="text-decoration:none;width:40px; height:40px">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="image" (click)="HomeBtnClicked()" border="0" src="/assets/home.png" style="text-decoration:none;width:40px; height:40px">&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" routerLink="/home/register">Register</a>
        <a class="btn btn-primary" routerLink="/home/login">Login</a>
        <a class="btn btn-primary" (click)="onLogoutClick()">Logout</a>
    </div>
</div>
</html>
