.background {
    background-color: transparent;
    justify-content : center;
}

.Row {
    display: table;
    width: 100%; /*Optional*/
    border-spacing: 1px; /*Optional*/
    background-color: rgba(98, 143, 194, 0.774);
}

.Column {
    display: table-cell;
}

.width30 {
    width: 30%;
}