<div class="Row">
    <div class="col-lg-2 background" align="left">
        <a routerLink="/home/choosekid"><canvas #myCanvas width="80" height="30"> Your browser does not support the HTML5 canvas tag.</canvas></a>
    </div>
    <div class="col-lg-3 background" align="right">
        <!--<select [(ngModel)]="city" class="form-control width30">
            <option *ngFor='let item of cities' [value]="item">
                {{item}}
            </option>
        </select>-->
    </div>
    <div class="col-lg-1 background" align="left">
        <!--<a class="btn btn-info" (click)="getTemp()"><b>Get temp</b></a>-->
    </div>
    <div class="col-lg-6 background" align="right">
        <a *ngIf="!flag" (click)="StopBtnClicked()" class="btn btn-info"><i class="glyphicon glyphicon-stop"></i></a>
        <a *ngIf="!flag" (click)="PlayBtnClicked()" class="btn btn-info"><i class="glyphicon glyphicon-play-circle"></i></a>
        <a *ngIf="!flag" (click)="ReplayBtnClicked()" class="btn btn-info"><i class="glyphicon glyphicon-repeat"></i></a>
        <a *ngIf="!flag" (click)="ChangeCharacterBtnClicked()" class="btn btn-info"><i class="glyphicon glyphicon-user"></i></a>
        <a *ngIf="!flag" (click)="PrevBtnClicked()" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i></a>
        <a *ngIf="!flag" (click)="NextBtnClicked()" class="btn btn-info"><i class="glyphicon glyphicon-arrow-right"></i></a>
        <a (click)="HomeBtnClicked()" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
        <a class="btn btn-primary" *ngIf="!authService.loggedIn()" routerLink="/home/register">Register</a>
        <a class="btn btn-primary" *ngIf="!authService.loggedIn()" routerLink="/home/login">Login</a>
        <a class="btn btn-primary" *ngIf="authService.loggedIn()" routerLink="/admin/dashboard">Dashboard</a>
        <a class="btn btn-primary" *ngIf="authService.loggedIn()" (click)="onLogoutClick()">Logout</a>
    </div>
</div>