div, h2 {
    color: aliceblue;
    background-color: transparent;
}

.center {
    margin: auto;
    text-align: center;
}

.border {
    width: 60%;
    border: 3px solid #ffffff;
    padding: 10px;
}

.margin-auto {
    margin: auto;
}

.width80 {
    width: 80%;
}

.width40 {
    width: 40%;
}

.width95 {
    width: 95%;
}

.bold-text {
    font-weight: bold;
}



.tick text {
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #4C5554;
    stroke-width: 1;
}

.x.axis .tick line {
    display: none
}

.domain {
    display: block !important;
    stroke: #4C5554 !important;
    stroke-width: 2 !important;
}
.legend {
    font-size: 12px;
    font-family: sans-serif;
    rect {
        stroke-width: 2;
    }
}
angular-d3-pie,angular-d3-donut{
    margin-top: -5em;
}